<a href="https://colab.research.google.com/github/princythomasss/Assignment_Entri/blob/main/Map%2C_reduce%2C_filter%2C_lamda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1:

Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.


It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary


Given:

showEmployee("Ben", 12000)

showEmployee("Jessa")

Expected output:

Name: Ben salary: 12000

Name: Jessa salary: 9000

In [ ]:
def showEmployee(Name,Salary=9000):
    print("Name:",Name,"Salary:",Salary)
showEmployee("Ben", 12000)
showEmployee("Jessa")

Name: Ben Salary: 12000
Name: Jessa Salary: 9000

Exercise 2:

Create an inner function to calculate the addition in the following way

Create an outer function that will accept two parameters, a and b

Create an inner function inside an outer function that will calculate the addition of a and b

At last, an outer function will add 5 into addition and return it

In [ ]:
def add1(x,y):
    def add2(a,b):
        return a+b
    return add2(x,y)+5

c=add1(2,3)
print(c)

10

Exercise 3:

Generate a Python list of all the even numbers between 4 to 30

In [ ]:
even_num=[i for i in range(4,30) if i%2==0]
print(even_num)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 4:

Lambda Function to Check if value is in a List

Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]

          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]

          element = 8
Output :  Element is NOT Present in the list

In [ ]:

def find(list_find,y):
    result=list(filter(lambda x:x==y,list_find))
    if result:
        print("Element is present in the given list")
    else:
        print("Element is  not present in the given list")

L = [1, 2, 3, 4, 5]
find(L,2)
find(L,9)

Element is present in the given list
Element is  not present in the given list

Exercise 5:

Sort list of tuples with their sum

Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
points=[(1, 2), (5, 3), (0, 7), (3, 1)]
points.sort(key=lambda x:x[0]+x[1])
print(points)

[(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :

Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def even(number):
  number = str(number)
  return all(int(digit) % 2 == 0 for digit in number)

even_num = list(filter(lambda x:even(x),range(1000,3001)))
print(even_num)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Exercise 7 :

Write a python function that accepts a sentence and calculate and return the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3

In [ ]:
def count(text):
  digits = sum(map(lambda x:x.isdigit(),text))
  letters = sum(map(lambda x:x.isalpha(),text))
  return digits,letters

text = "hello world! 123"
digits,letters = count(text)
print("LETTERS", letters)
print("DIGITS", digits)

LETTERS 10
DIGITS 3

Exercise 8  MAP:

Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def remove_duplicates(result):
  res=""
  for i in result:
    if i not in res:
      res += i
  return res

def uppercase(x):
  upper_case =''.join(map(lambda x: x.upper(), x))
  res=remove_duplicates(upper_case)
  return res

def lowercase(x):
  lower_case =''.join(map(lambda x: x.lower(), x))
  res=remove_duplicates(lower_case)
  return res

x = "helloWorld"
res = uppercase(x)
print(f"Sequence in uppercase {res}")
res = lowercase(x)
print(f"Sequence in lowercase {res}")

Sequence in uppercase HELOWRD
Sequence in lowercase helowrd

Exercise 9 MAP:

 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

res = map(lambda x, y: x + y, list1, list2)
print(f"Final list after adding two given lists is",list(res))

Final list after adding two given lists is [6, 8, 10, 12]

Exercise 10 Filter:

Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

Original Dictionary:

{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [ ]:
def filter_data(students):
    result = dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), students.items()))
    return result

students = {'Cierra Vega': (6.2, 70),'Alden Cantrell': (5.9, 65),'Kierra Gentry': (6.0, 68),'Pierre Cox': (5.8, 66)}

print(f"Student with Height > 6ft and Weight > 70kg:",filter_data(students))

Student with Height > 6ft and Weight > 70kg: {'Cierra Vega': (6.2, 70)}

Exercise 11 Filter:

Write a Python program to remove all elements from a given list present in another list using lambda.

Original lists:

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2: [2, 4, 6, 8]

Remove all elements from 'list1' present in 'list2:

[1, 3, 5, 7, 9, 10]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

list1 = list(filter(lambda x: x not in list2, list1))
print(list1)

[1, 3, 5, 7, 9, 10]

Exercise 12 Reduce: Write a Python program to calculate the product of a given list of numbers using lambda.

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Product of the said list numbers:

3628800

In [ ]:
from functools import reduce
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
product = reduce(lambda x,y : x*y,list1)
print(product)

3628800

Exercise 13 Reduce: Write a Python program to multiply all the numbers in a given list using lambda.

Original list:

[4, 3, 2, 2, -1, 18]

Mmultiply all the numbers of the said list: -864

In [ ]:
from functools import reduce
list1 = [4, 3, 2, 2, -1, 18]
result = reduce(lambda x,y : x*y , list1)
print(result)

-864

Exercise 14 Reduce: Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

Original Tuple:

((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

Average value of the numbers of the said tuple of tuples:

(30.5, 34.25, 27.0)

In [ ]:
from functools import reduce

tuple1 = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

tuple_length = len(tuple1)

sum = reduce(lambda x, y: tuple(map(lambda i, j: i + j, x, y)), tuple1)

result = tuple(map(lambda x: x / tuple_length, sums))

print("Average of the given tple :")
print(result)

Average of the given tple :
(30.5, 34.25, 27.0)

Exercise 15: Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:

[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

Sort the said mixed list of integers and strings:

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
list1 = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

sorted_list = sorted(list1, key=lambda x: (isinstance(x, str), x))

print(sorted_list)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16: Write a Python program to count the occurrences of items in a given list using lambda.
Original list:

[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list:

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [ ]:
list1 = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
result = dict(map(lambda x:(x,list1.count(x)) , list1))
print(result)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

Exercise 17: Write a Python program to remove None values from a given list using the lambda function.
Original list:

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list:

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
original_list = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

filtered_list = list(filter(lambda x: x != None, original_list))
print(filtered_list)

Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]